@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /*background-image: url('https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1847&q=80');*/
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

#fullpage{
    height: 100vh;
    width: 100%;
}

.cont{
    height: 100%;
    width: 100%;
    position: relative;
    /*backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    /*transition: backdrop-filter 1s ease;*/

   /* animation: blur 2.5s ease forwards .2s;
    -moz-animation: blur 2.5s ease forwards .2s;*/
}

.logo{
    top: 50%;
    left: 50%;
    position: absolute;
    height: 30%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 5px;
}

.logo::before{
    content: '';
    height: 0;
    width: 0;
    top: -1px;
    left: -1px;
    position: absolute;
    border-top: solid white 1px;
    border-left: solid white 1px;
    animation: borders 1.25s ease-out forwards .2s;
    /*transition: height 1s ease-out .1s, width 1s ease-out .1s;*/
    opacity: 1;
}

.logo:hover::before{
    width:100%;
    height: 100%;
    opacity: 1;
}

.logo::after{
    content: '';
    height: 0;
    width: 0;
    bottom: -1px;
    right:-1px;
    position: absolute;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    animation: borders 1.25s ease-out forwards .2s;
    /*transition: height 1s ease-out .1s, width 1s ease-out .1s;*/
    opacity: 1;
}

.logo:hover::after{
    width:100%;
    height: 100%;
    opacity: 1;
}

#logo-svg{
    transform: scale(.6);
    animation: fill 1s ease forwards 2.3s;
}


.fill{
    background-color: rgba(255, 0, 0, 0.274);
    height: 50vh;
    display: block;
    margin-top: 50vh;
}

#logo-svg path:nth-child(1){
    stroke-dasharray: 310.03px;
    stroke-dashoffset: 310.03;
    animation: line-anim 2s ease forwards .2s;
    
}

#logo-svg path:nth-child(2){
    stroke-dasharray: 785.49px;
    stroke-dashoffset: 785.49px;
    animation: line-anim 2s ease forwards .5s;
}

#logo-svg path:nth-child(3){
    stroke-dasharray: 664.36px;
    stroke-dashoffset: 664.36px;
    animation: line-anim 2s ease forwards .8s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

@keyframes borders{
    to{
        width:100%;
        height: 100%;
        opacity: 1;
    }
}
/*
@keyframes blur{
    to{
        backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
    }
}*/

@keyframes arrow{
    0%{
        transform: translate(-50%, -10px);
    }
    25%{
        transform: translate(-50%, 5px);
    }
    100%{
        transform: translate(-50%, -10px);
    }
}

@keyframes arrow-fade{
    to{
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes fp-nav-fade{
    to{
        opacity: 1;
        pointer-events: all;
    }
}

#fp-nav ul li a span{
    background: rgb(255, 255, 255);
}

#fp-nav{
    opacity: 0;
    pointer-events: none;
    animation: fp-nav-fade .5s ease forwards 3.5s;
}


.arrow-down{
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: arrow 2s ease forwards 4.5s infinite,
               arrow-fade .5s ease forwards 3.5s;
    /*transition: transform 1s ease;*/
    width:50px;
    transform: translate(-50%, -10px);
    opacity: 0;
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(237deg) brightness(103%) contrast(101%);
    cursor: pointer;
    pointer-events: none;
}




/* Second Page */


.cont-lg{  
    display: grid;
    grid-template-columns: 1fr 3fr 40px 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    place-items: center;
    height: 100%;
    width: 100%;
}

.cont-lg .title{
    height:100%;
    width:100%;
    grid-column: 1 / span 5;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.title h1{
    font-size: 5rem;
    font-weight: 100;
    position: relative;
    opacity: 0;
    animation: title ease 1s forwards .5s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(233, 107, 107);
    position: absolute;
    left:0;
    bottom: 0;
    transform: scaleX(0);
    animation: title-under ease 1s forwards 1.5s;
    border-radius: 30%;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 95%;
    width: 85%;
    justify-self: center;
    place-items: center;
}


.row1{
    grid-column: 1 / span 2;
    margin-left: 20px;
}

.row2{
    grid-column: 4 / span 2;
    margin-right: 20px;
}

.separator{
    position: relative;
    width: 100%;
    height: 100%;
}

.separator div{
    width: 2px;
    background-color: rgb(233, 107, 107);
    height: 100%;
    position: absolute;
}

.separator div:nth-child(1){
    top:0;
    left:50%;
    transform: translate(-50%, 0) scaleY(0);
    animation: separator ease 1s forwards 1.5s;
    transform-origin: top;
}


.icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 0px;
    height: 0px;
    opacity: 0;
    /*transform: translate3d(0,0,0px) scale(.5);*/
    z-index: 10;
    cursor: pointer;
    pointer-events: none;
    margin-bottom: 0px;
    transition: margin-bottom ease .5s;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.row1 .icon:nth-child(1){
    animation: icon-fade 1s ease forwards 4s; 
}

.row1 .icon:nth-child(2){
    animation: icon-fade 1s ease forwards 3s; 
}

.row1 .icon:nth-child(3){
    animation: icon-fade 1s ease forwards 2.5s; 
}

.row1 .icon:nth-child(4){
    animation: icon-fade 1s ease forwards 3.5s; 
}

.row2 .icon:nth-child(1){
    animation: icon-fade 1s ease forwards 2.5s; 
}

.row2 .icon:nth-child(2){
    animation: icon-fade 1s ease forwards 3.5s; 
}

.row2 .icon:nth-child(3){
    animation: icon-fade 1s ease forwards 3s; 
}

.row2 .icon:nth-child(4){
    animation: icon-fade 1s ease forwards 4s; 
}

@keyframes icon-fade{
    to{
        opacity: 1;
        pointer-events: all;
        height: 170px;
        width: 170px;
    }
}

.icon img{
    max-width:80%;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    z-index: 20;
    transition: all 1s ease;
    
}

.row .icon:hover img{
    transform: translateZ(20px);
}

.ico-sep{
    position: absolute;
    display: grid;
    place-items: center;
    height: 3px;
    width: 0%;
    transition: all .5s ease .5s;
    background: white;
    bottom:0;
    transform: translateY(10px);
    transition: all .5s ease .5s;
}

.icon p{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    bottom: 0;
    display: grid;
    place-items: center;
    text-align: center;
    transform: translateY(100px); /*130px*/
    align-items: center;
    height: 80px;
    width: 100%;
    opacity: 0;
    transition: all .5s ease 1s;
    line-height: 2rem;
    transform-style: preserve-3d;
}


/*
.icon::after{
    content: '';
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 00%;
    background: white;
    /*transform: translateY(10px);*/
    /*transition: all .5s ease .5s;
}*/


.row2 .icon:nth-child(4) .ico-sep{
    background: linear-gradient(to right, rgb(148, 90, 14) , rgb(53, 179, 130),rgb(134, 37, 163));
}

.row1 .icon:nth-child(2) .ico-sep{
    background: linear-gradient(to right, rgb(148, 90, 14) , yellow, rgb(80, 112, 219));
}


.icon:hover .ico-sep, .icon:active .ico-sep{
    width: 80%;
}

.row2 .icon:hover:nth-child(1) .ico-sep,
.row2 .icon:active:nth-child(1) .ico-sep{
    background: rgb(214, 185, 21);
}
.row2 .icon:hover:nth-child(2) .ico-sep,
.row2 .icon:active:nth-child(2) .ico-sep{
    background: rgb(96, 149, 218);
}
.row2 .icon:hover:nth-child(3) .ico-sep,
.row2 .icon:active:nth-child(3) .ico-sep{
    background: rgb(117, 66, 7);
}
.row2 .icon:hover:nth-child(4) .ico-sep,
.row2 .icon:active:nth-child(4) .ico-sep{
    background: linear-gradient(to right, rgb(148, 90, 14) , rgb(53, 179, 130),rgb(134, 37, 163));
}
.row1 .icon:hover:nth-child(1) .ico-sep,
.row1 .icon:active:nth-child(1) .ico-sep{
    background: rgb(119, 216, 255);
}
.row1 .icon:hover:nth-child(2) .ico-sep,
.row1 .icon:active:nth-child(2) .ico-sep{
    background: linear-gradient(to right, rgb(148, 90, 14) , yellow, rgb(80, 112, 219));
}
.row1 .icon:hover:nth-child(3) .ico-sep,
.row1 .icon:active:nth-child(3) .ico-sep{
    background: rgb(226, 112, 188);
}
.row1 .icon:hover:nth-child(4) .ico-sep,
.row1 .icon:active:nth-child(4) .ico-sep{
    background: rgb(100, 18, 100);
}


.icon:active, .icon:hover{
    margin-bottom: 50px;
}

.icon:hover p{
    opacity:1;
    transform: translateY(90px);
}


/*@keyframes tools-cont{
    to{
        transform: translateY(0);
    }
}*/

@keyframes title-under{ 
    25%{
        background-color: rgb(233, 107, 107);
    } 
    100%{
        transform: scaleX(1);
        background-color: white;
    }
}

@keyframes title{
    to{
        opacity: 1;
    }
}

@keyframes separator{
    25%{
        background-color: rgb(233, 107, 107);
    } 
    100%{
        transform: translate(-50%, 0) scaleY(1);
        background-color: white;
    }
}



/* Third Page */

.container-lg{
    position: relative;
    width: 100%;
    height: 100%;
}

.empty{
    height: 10vh;
    width: 100%;
    position: relative;
}

.empty:after{
    content: '';
    position: absolute;
    background: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 0;
    animation: lineY .5s ease forwards .5s;
}

@keyframes lineY{
    to{
        height: 100%;
    }
}

.title2-out{
    height: 10vh;
    width: 30%;
    margin: auto;
    position: relative;
}

.title2-out::before{
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    animation: lineX .5s ease forwards 1s;
}

.title2-out::after{
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    animation: lineX .5s ease forwards 1s;
}

@keyframes lineX{
    to{
        transform: scaleX(100%);
    }
}

.title2-in{
    width: 100%;
    position: relative;
    height: 100%;
}

.title2-in::before{
    content: '';
    height: 0;
    width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    animation: lineY .5s ease forwards 1.5s;
}

.title2-in::after{
    content: '';
    height: 0;
    width: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    animation: lineY .5s ease forwards 1.5s;
}

.title2{
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    font-size: 5rem;
    display: grid;
    place-items: center;
    justify-self: center;
    text-align: center;
    font-weight: 100;
}

.proj{
    height: 80vh;
    width: 100%;
    position: relative;
}

.proj-empty{
    width: 100%;
    height: 2vh;
    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.proj-empty1{
    width: 100%;
    height: 2px;
    background-color: white;
    top:0;
    transform: translateX(2px) scaleX(0);
    transform-origin: right;
    animation: line-empty1 .75s ease forwards 2s;
}

.proj-empty3{
    width: 100%;
    height: 2px;
    background-color: white;
    top:0;
    transform: translateX(-2px) scaleX(0);
    transform-origin: left;
    animation: line-empty3 .75s ease forwards 2s;
}

@keyframes line-empty1{
    to{
        transform: translateX(2px) scaleX(1);
    }
}

@keyframes line-empty3{
    to{
        transform: translateX(-2px) scaleX(1);
    }
}

.proj-main{
    height: 78vh;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.img-cont{
    margin: auto;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
}

.proj-img{
    height: 90%;
    width: 100%;
    overflow: hidden;
    clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0 100%);
    transition: all .3s ease;
    border-radius: 10px;
}

.proj-img img{
    width: 100%;
    height:100%;
    object-fit:cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.proj-img img:hover{
    transform: scale(1.2);
}

.proj-img:hover{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}

.info-cont-out{
    position: relative;
}

.info-cont{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    color: white;
    line-height: 2rem;
    height: 50%;
    width: 90%;
    margin: auto;
    background: linear-gradient(to right, rgba(15, 16, 31, 0.514) 40%, rgba(0, 0, 0, 0.445));
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.info-cont a, .info-cont p{
    margin-left: 10%;
}

.info-cont a{
    text-decoration: none;
    color: rgb(20, 35, 161);
    font-size: 3rem;
    margin-top: 30px;
    padding: 20px;
}

.info-cont p{
    padding: 10px 20px;
    letter-spacing: 0px;
}

.info-cont a span{
    color: white;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
}

.info-cont .subtitle{
    font-size: 1.3rem;
    font-weight: 300;
}

.info-cont .subtext{
    font-size: 1.3rem;
    font-weight: 100;
}

/* Third Page modal */

.modal{
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity .25s ease-out;
    z-index: 100;
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}

.full-img{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    transition: trasnform .25s ease-out;
    z-index: 100;
}

.full-img.open{
    transform: translate(-50%, -50%) scale(1);
}

.modal a{
    color: rgb(36, 94, 255);
    font-size: 2rem;
    font-weight: 900;
    text-decoration: underline;
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translate(-50%, -5%);
}




/* Last Page */

.end-card-out{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    max-width: 20%;
}

.end-card{
    height: 100%;
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    /*backdrop-filter: blur(5px);*/
    transform-style: preserve-3d;
    transform: scaleY(0) perspective(1000px);
    transform-origin: center;
    animation: endcard 1s ease-in-out forwards .5s;
}

.end-card::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(220, 20, 60, 0.062);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    animation: endcard-content .3s ease forwards 1.5s;
}

.pp{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
    z-index: 20;
    transform: translateZ(0px);
    transition: transform ease .25s;
    opacity: 0;
    animation: endcard-content .5s ease forwards 2s;
}

.end-card .endtext{
    z-index: 20;
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-shadow: black 0px 0px 10px;
    transform: translateZ(0px);
    transition: transform ease .25s;
    opacity: 0;
    animation: endcard-content .5s ease forwards 2s;
}

.end-card:hover .endtext, .end-card:hover .pp{
    transform: translateZ(25px);
}

.end-card .endtext.first,
.end-card .endtext.contact.first{
    margin-top: 10%;
}

.end-card .endtext.contact{
    margin: 0px;
    font-weight: 100;
}


.pp img{
    width: 100%;
    transform: translateY(-22%) scale(1.1);
}


@keyframes endcard{
    to{
        transform: scaleY(1) perspective(1000px);
    }
}

@keyframes endcard-content{
    to{
        opacity: 1;
    }
}